body {
	background-color: #F6F6F6;
}
.navbar {
	font-family: "helvetica";
	list-style-type: none;
    margin: 0;
    padding: 0;
    color: #FF485F;
    display: flex;
    justify-content: space-between;
    background-color:#F6F6F6;
    height: 5vw;
}
.navbarItem{
	display: inline;
}
.title {
	font-size: 18px;
	margin-left: 5%;
	margin-top: 1.25vw;
}
.name {
	font-size: 24px;
	font-weight: bold;
	margin-top: 1.25vw;
}
.contact {
	font-size: 18px;
	margin-right: 5%;
	margin-top: 1.25vw;
}
.row {
	width: 92vw;
	margin: 10px 4% 0 4%;
}
.leftSquare {
	width: 46vw;
	height: 46vw;
	float:left;
}
.rightSquare {
	width: 46vw;
	height: 46vw;				
	float: right;
}
.topLeft {
	background-color: #FF485F;
}
.topRight {
	background-color: #FFFEF7;
}
.middleLeft {
	background-color: #50E3C2
}
.middleRight {
	background-color: #FFFBC9
}